Bigquery Setup

In [ ]:
from google.cloud import bigquery
import pandas as pd
import numpy as pd
import os 

#This project initializes the BigQuery client to establish a connection between the Python application and
# the Google BigQuery
client = bigquery.Client(project='sql-sandbox-435415')

---

Let's preview the first few rows of each core table used in this analysis:
- customer_list
- orders
- order_items
- sellers_list

In [10]:
sql_query ="""
SELECT 
*
FROM 
`sql-sandbox-435415.fecom_crm.customer_list`
LIMIT 10
"""

query_job = client.query(sql_query)
df_customer_list = query_job.to_dataframe()
df_customer_list

,Customer_Trx_ID,Subscriber_ID,Subscribe_Date,First_Order_Date,Customer_Postal_Code,Customer_City,Customer_Country,Customer_Country_Code,Age,Gender
0,66637c0e4a801a4cd3ba72818e7b5b11,35667b792f144ffbcb90d64c5abf26a7,2024-01-30,2024-02-05,AD-AD501,Andorra la Vella,Andorra,AD,18,Female
1,351c4091b6f035cbc49b25c86db368fc,fc6edb96180128815a10afb2297bf552,2022-06-19,2023-03-24,AD-AD503,Andorra la Vella,Andorra,AD,18,Male
2,90f85ef7f6b7f07be42e73c4b8f298b9,4d27b5e8b1dbf35db62bd6891f7fb0fd,2024-03-02,2024-03-05,AT-1010,Vienna,Austria,AT,18,Male
3,35c38243a371dfba016aab0fb4fb0bd6,e8c628af16587ed80263f535a8d95893,2024-07-01,2024-07-12,AT-1010,Vienna,Austria,AT,18,Female
4,fabb645a1aa6ec294fdd9a723e744ee6,d2f4d32a45734d31188beacceeb2d3f6,2022-10-14,2023-10-30,AT-1010,Vienna,Austria,AT,18,Male
5,46eed518a1fa5b1e5f7f46fa7b4e46ff,5e444b5a0edba18aae0518c0745edb01,2023-07-23,2023-08-05,AT-1010,Vienna,Austria,AT,18,Female
6,35b87045be1864a4b58652c2f9eb0192,1b179d03329a2ed142c18b5aac37fb58,2024-03-25,2024-03-27,AT-1010,Vienna,Austria,AT,18,Male
7,98b50f67673f8ca597407241c37b8d1f,3791233090cbbeefbc0518859472bd2d,2024-08-07,2024-08-21,AT-1010,Vienna,Austria,AT,18,Female
8,30df2fd4f752dfca68a85991feac13af,c78fddb6f257881a62b4de591bb5a1f1,2024-04-14,2024-05-01,AT-1010,Vienna,Austria,AT,18,Male
9,b0964d76975dbc174b623b5a300973d5,24a5c2b24a4467c37e2f54c1b311de93,2023-01-12,2023-02-08,AT-1010,Vienna,Austria,AT,18,Male

In [9]:
sql_query = """
SELECT *
FROM sql-sandbox-435415.fecom_crm.orders
LIMIT 10
"""
query_job = client.query(sql_query)
df_orders = query_job.to_dataframe()
df_orders

,Order_ID,Customer_Trx_ID,Order_Status,Order_Purchase_Timestamp,Order_Approved_At,Order_Delivered_Carrier_Date,Order_Delivered_Customer_Date,Order_Estimated_Delivery_Date
0,a2e4c44360b4a57bdff22f3a4630c173,8886130db0ea6e9e70ba0b03d7c0d286,approved,2023-02-06 20:18:00+00:00,2023-02-06 20:30:00+00:00,NaT,NaT,2023-03-01 00:00:00+00:00
1,132f1e724165a07f6362532bfb97486e,b2191912d8ad6eac2e4dc3b6e1459515,approved,2023-04-25 01:25:00+00:00,2023-04-30 20:32:00+00:00,NaT,NaT,2023-05-22 00:00:00+00:00
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2022-09-13 15:24:00+00:00,2022-10-07 13:16:00+00:00,NaT,NaT,2022-09-30 00:00:00+00:00
3,e5215415bb6f76fe3b7cb68103a0d1c0,b6f6cbfc126f1ae6723fe2f9b3751208,canceled,2022-10-22 08:25:00+00:00,NaT,NaT,NaT,2022-10-24 00:00:00+00:00
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2022-10-02 22:07:00+00:00,2022-10-06 15:50:00+00:00,NaT,NaT,2022-10-25 00:00:00+00:00
5,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2022-09-05 00:15:00+00:00,2022-10-07 13:17:00+00:00,NaT,NaT,2022-10-28 00:00:00+00:00
6,92d731517f17c26f16182d45498c4c3d,95c44daefa7bfb91c6bb0665a0cd22fc,canceled,2022-10-05 11:23:00+00:00,NaT,NaT,NaT,2022-11-14 00:00:00+00:00
7,ddaec6fff982b13e7e048b627a11d6da,68f4ad79cc0c2ad06e19088f5c00e9fa,canceled,2022-10-04 19:41:00+00:00,NaT,NaT,NaT,2022-11-16 00:00:00+00:00
8,c549f0d88f33bfe43351b893f1fb55ac,ea26950075411d4c3569a71853ee7388,canceled,2022-10-06 13:21:00+00:00,NaT,NaT,NaT,2022-11-16 00:00:00+00:00
9,9bd5312d12f48b04a460f702baff3d8c,4d145fd1d3245cbb3697dd41b4bcf19b,canceled,2022-10-06 20:43:00+00:00,NaT,NaT,NaT,2022-11-16 00:00:00+00:00

In [11]:
sql_query = """
SELECT *
FROM `sql-sandbox-435415.fecom_crm.order_items`
LIMIT 10
"""

query_job = client.query(sql_query)
df_order_items = query_job.to_dataframe()
df_order_items

,Order_ID,Order_Item_ID,Product_ID,Seller_ID,Shipping_Limit_Date,Price,Freight_Value
0,3ee6513ae7ea23bdfab5b9ab60bffcb5,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-04 03:55:00+00:00,0.85,18.23
1,6e864b3f0ec71031117ad4cf46b7f2a1,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-02 20:30:00+00:00,0.85,18.23
2,c5bdd8ef3c0ec420232e668302179113,2,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-07 02:55:00+00:00,0.85,22.30
3,8272b63d03f5f79c56e9e4120aec44ef,2,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
4,8272b63d03f5f79c56e9e4120aec44ef,3,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
5,8272b63d03f5f79c56e9e4120aec44ef,4,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
6,8272b63d03f5f79c56e9e4120aec44ef,5,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
7,8272b63d03f5f79c56e9e4120aec44ef,6,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
8,8272b63d03f5f79c56e9e4120aec44ef,7,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
9,8272b63d03f5f79c56e9e4120aec44ef,8,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89

In [12]:
sql_query = """
SELECT *
FROM `sql-sandbox-435415.fecom_crm.sellers_list`
LIMIT 10
"""
query_job = client.query(sql_query)
df_sellers_list = query_job.to_dataframe()
df_sellers_list

,string_field_0,string_field_1,string_field_2,string_field_3,string_field_4,string_field_5
0,4dbd95a08b31ede5c82d3f861cb1ce1a,FutureSynergies,AT-1010,Vienna,AT,Austria
1,3ca08eeb8d5595949fed424bd3677742,StratosSolutionsPro,AT-1010,Vienna,AT,Austria
2,76d64c4aca3a7baf218bf93ef7fa768d,GlobalCreators,AT-1010,Vienna,AT,Austria
3,8a2d12a90e92f012ce5226fc6592b653,FlareGlobal,AT-1010,Vienna,AT,Austria
4,933446e9a59dece7ae9175103820ca8f,BluePartners,AT-1010,Vienna,AT,Austria
5,297d5eccd19fa9a83b2630071ff105e4,DynamicVentures,AT-1010,Vienna,AT,Austria
6,013900e863eace745d3ec7614cab5b1a,GlobalAI,AT-1010,Vienna,AT,Austria
7,6d7f8d9d594e28796b6b3205b00f459c,EliteEnterprises,AT-1010,Vienna,AT,Austria
8,e256a62e0ac58c0edfba09966142d561,CyberTransform,AT-1010,Vienna,AT,Austria
9,8dfbc5ff27df12f6cef751d3b9554222,AccelFutures,AT-1010,Vienna,AT,Austria